.vs/
Francesco-Valentini/bin/
Francesco-Valentini/obj/
Francesco-Valentini/.vscode/
Francesco-Valentini/.vs/
Michele-Ravaioli/bin/
Michele-Ravaioli/obj/
Manuel-Tartagni/bin/
Manuel-Tartagni/obj/
Mario-Biavati/bin/
Mario-Biavati/obj/
.idea/
OOP21-Dont-Pop-CSharp.sln.DotSettings.user